.banner {
   background-image: url("../images/bg-mobile-dark.jpg");
   background-size: cover;
   width: 100%;
   background-color: aqua;
   height: 30vh;
   display: flex;
   justify-content: center;
}

.banner__wrapper {
  width: 85%;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  /* padding-top: 1em; */
}

.theme__selector {
  background: none;
  border: none;
  height: 30px;
  margin-top: 2em;
  cursor: pointer;
}

.banner__wrapper > h1 {
  color: var(--title_dark);
  letter-spacing: 10px;
  font-weight: 600;
}