.container {
  width: 85%;
  max-width: 700px;
  position: absolute;
  top: 13%;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;
}

.container > span {
  color: var(--border_dark);
  text-align: center;
  margin-top: 40px;
}